
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            
            <span class="h3">Lista muebles  </span>
            <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/agregar-muebles">Agregar</button>
<table class="table  mt-5 class=table table table-hover">
    
    <thead>
           
          <th scope="col ">ID  </th>
          <th scope="col">Nombre  </th> 
          <th scope="col">Descripcion  </th> 
          <th scope="col">Precio  </th> 
          <th scope="col">Foto  </th>
          <th>ACCIONES</th>
          <i class="fa-solid fa-user"></i>
           
    </thead>
    <tbody>
      
        <tr *ngFor="let mueble of ListaMueble">
            <td >{{ mueble.id }}</td>
            <td>{{ mueble.Nombre}}</td>
            <td>{{mueble.Descripcion}}</td>
            <td>{{mueble.Precio}}</td>
            <td>{{mueble.Foto}}</td>
            <button type="button" class="btn btn-info mr-2 mt-2 " routerLink="/editar-muebles">Editar</button>
            <button type="button" class="btn btn-danger mr-2 mt-2 ">Borrar</button>
            
    </tr>




    </tbody>





</table>
    </div>
  </div>
</div>
