
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista muebles  </span>
            <button type="button" class="btn btn btn-success float-right mr-2 mt-2 " routerLink="/agregar-muebles">Agregar</button>
<table class="table  mt-5 class=table table table-hover">
    
    <thead>
          <tr>   
          <th scope="col ">ID MUEBLE </th>
          <th scope="col">NOMBRE MUEBLE </th> 
          <th scope="col">DESCRIPCION MUEBLE </th> 
          <th scope="col">PRECIO MUEBLE </th> 
          <th scope="col">FOTO MUEBLE </th>
          <th>ACCIONES</th>
          <i class="fa-solid fa-user"></i>
          </tr>  
    </thead>
    <tbody>
      
        <tr *ngFor="let mueble of Muebles; index as i">
            <td>{{mueble.ID_mueble}}</td>
            <td>{{mueble.nombre_mueble}}</td>
            <td>{{mueble.descripcion_mueble}}</td>
            <td>{{mueble.precio_mueble}}</td>
            <td>{{mueble.foto_mueble}}</td>
            <button type="button" class="btn btn-info mr-2 mt-2 " routerLink="/editar-muebles">Editar</button>
            <button type="button" class="btn btn-danger mr-2 mt-2 ">Borrar</button>
            
    </tr>




    </tbody>





</table>
    </div>
  </div>
</div>