<p>app  works!</p>

<table class="table class=table table-dark table-hover">

    <thead>
          <tr>
          <th scope="col">ID MUEBLE</th> 
          <th scope="col">NOMBRE MUEBLE</th> 
          <th scope="col">DESCRIPCION MUEBLE</th> 
          <th scope="col">PRECIO MUEBLE</th> 
          <th scope="col">FOTO MUEBLE</th>
          </tr>  
    </thead>
    <tbody>
        <tr *ngFor="let mueble of Muebles; index as i">
            <th scope="row">{{i}}</th>
            <td>{{mueble.nombre_mueble}}</td>
            <td>{{mueble.descripcion_mueble}}</td>
            <td>{{mueble.precio_mueble}}</td>
            <td>{{mueble.foto_mueble}}</td>
            <button type="button" class="btn btn-primary">Primary</button>
        </tr>





    </tbody>





</table>