<div class="container pt-5 ">
    <div class="row"> 
        <div class="col-lg-6 offset-lg-3"> 
            <div class="card text-center">
                <div class="card-body">
                    <h3>Editar Mueble</h3>
                    <form class="mt-4 ">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="Ingrese descripcion">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>